

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-family: montserrat;
    overflow: hidden;
}

.abc {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    /* align-items: center;*/
    justify-content: center;
}


nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }

a.active, a:hover {
    background: #d4dce3;
    transition: .5s;
    color: #390303;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width:952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

        nav ul li a {
            font-size: 20px;
        }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }

    nav .search {
        margin-top: 7px;
    }
}
/* section{
       background: url(book_background.jpg) no-repeat;
      background-size: cover; 
      height: calc(90vh- 10px);
      }*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.heading {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

    .heading h1 {
        font-size: 50px;
        color: #390303;
        margin-top: -160px;
        margin-left: 1000px;
        margin-bottom: 440px;
        margin-right: -400px;
        position: relative;
        text-align: center;
        border-bottom: 2px solid #390303;
    }
    /* .afterheading
    {
        font-size: 25px;
    
    color: #390303;
   
    margin-top: 20%;
    margin-left: -50%;

    
    position: relative;
    text-align: center;
    }*/

    /*
    .heading h1 p
    
    { content:"";
    
    position: absolute;
    
    width: 100%;
    
    height: 4px;
    
    display: block;
    
    margin: 0 auto;
    
    background-color: #4caf50;
    
    
    }
    */
    .heading p {
        font-size: 18px;
        color: #390303;
        margin-bottom: 0px;
    }

.containerr {
    width: 90%;
    margin-left: 100px;
    padding-top: 0px;
    padding-right: 100px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-top: 150px;
    margin-left: -300px;
    margin-bottom: 400px;
    margin-right: -200px;
    overflow: hidden;
}

    .about-image img {
        max-width: 100%;
        opacity: 0.8;
        height: 300px;
        margin-bottom: 20px;
        display: block;
        transition: 0.5s ease;
    }

    .about-image:hover img {
        transform: scale(1.2);
    }

.about-content {
    flex: 1;
    padding-top:0;
    
}

    .about-content h1 {
        font-size: 50px;
        color: #333;
    }

    .about-content h2 {
        font-size: 23px;
        margin-bottom: 15px;
        color: #333;
    }

    .about-content p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 200px;
        margin-right: 0px;
        padding-right: 20px;
        color: #0e0505;
    }

/*.about-content.read-more
    {
    
    display: inline-block;
    
    padding: 10px 20px;
    
    background-color: #4caf50;
    
    color: #fff;
    
    font-size: 19px;
    
    text-decoration: none;
    
    border-radius: 25px;
    
    margin-top: 15px;
    
    transition: 0.3 ease;
    
    } 
    
    .about-content .read-more:hover
    {
    
    background-color: #3e8e41;
    
    }
    
    @media screen and (max-width: 768px) {
    
    .heading{
    
    padding: 0px 20px;
    
    }
    
    .heading h1{
    
    font-size: 36px;
    }
    
    .heading p
    {
    
    font-size: 17px;
    
    margin-bottom: 0px;
    
    }
    
    .container{
    
    padding: 0px;
    }
    .about{
    
    padding: 20px;
    
    flex-direction: column;
    }
    
    .about-image{
    
    margin-right: 0px;
    
    margin-bottom: 20px;
    }
    
    .about-content p
    
    {
    
    padding: 0px;
    
    font-size: 16px;
    }
    
    
    .about-content .read-more
    {
    
    font-size: 16px;
    
    }
    }
